# HW 4 - DASK

# Task 0.

## Completed by:  Natalie Benoy
In this assignment, we will use Dask DataFrames on a dataset comprised of many .csv files about
flights from/ to NYC-area airports from 1990 – 1999.

# Section D

## Task 1

In [1]:
# import statements
import os
import dask
from dask.distributed import Client
import dask.dataframe as dd
import pandas as pd
import glob

## Task 2

In [2]:
# import data
filename = os.path.join('nycflights', '*.csv')
filename

'nycflights/*.csv'

In [3]:
# more import data
ddf = dd.read_csv(filename)
pdf = pd.concat(map(pd.read_csv, glob.glob(filename)))

## Task 3

In [4]:
# print the dask data frame
ddf.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,Diverted
0,1990,1,1,1,1621.0,1540,1747.0,1701,US,33,...,NaN,46.0,41.0,EWR,PIT,319.0,NaN,NaN,0,0
1,1990,1,2,2,1547.0,1540,1700.0,1701,US,33,...,NaN,-1.0,7.0,EWR,PIT,319.0,NaN,NaN,0,0
2,1990,1,3,3,1546.0,1540,1710.0,1701,US,33,...,NaN,9.0,6.0,EWR,PIT,319.0,NaN,NaN,0,0
3,1990,1,4,4,1542.0,1540,1710.0,1701,US,33,...,NaN,9.0,2.0,EWR,PIT,319.0,NaN,NaN,0,0
4,1990,1,5,5,1549.0,1540,1706.0,1701,US,33,...,NaN,5.0,9.0,EWR,PIT,319.0,NaN,NaN,0,0

## Task 4

In [7]:
# timing operations
%timeit ddf = dd.read_csv(filename)

6.18 ms ± 260 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [8]:
# more timing operations
%timeit pdf = pd.concat(map(pd.read_csv, glob.glob('nycflights/*.csv')))

5.61 s ± 312 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

## Task 5

In [11]:
# look at attributes
print(ddf.columns)
ddf.dtypes

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'Diverted'],
      dtype='object')

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum              float64
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance             float64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
Diverted               int64
dtype: object

## Task 6

In [4]:
# fix datatypes
ddf = dd.read_csv(filename,
                 parse_dates = {'Date' : [0, 1, 2]},
                 dtype = {'CRSElapsedTime' : 'float64', 'TailNum' : 'object'})
len(ddf)

2611892

In [6]:
# look at last 5 rows of Dask dataframe
ddf.tail()

,Date,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,Diverted
269176,1999-12-27,1,1645.0,1645,1830.0,1901,UA,1753,N516UA,225.0,...,205.0,-31.0,0.0,LGA,DEN,1619.0,7.0,13.0,0,0
269177,1999-12-28,2,1726.0,1645,1928.0,1901,UA,1753,N504UA,242.0,...,214.0,27.0,41.0,LGA,DEN,1619.0,5.0,23.0,0,0
269178,1999-12-29,3,1646.0,1645,1846.0,1901,UA,1753,N592UA,240.0,...,220.0,-15.0,1.0,LGA,DEN,1619.0,5.0,15.0,0,0
269179,1999-12-30,4,1651.0,1645,1908.0,1901,UA,1753,N575UA,257.0,...,233.0,7.0,6.0,LGA,DEN,1619.0,5.0,19.0,0,0
269180,1999-12-31,5,1642.0,1645,1851.0,1901,UA,1753,N539UA,249.0,...,232.0,-10.0,-3.0,LGA,DEN,1619.0,6.0,11.0,0,0

In [7]:
ddf[['CRSElapsedTime', 'TailNum']].sample(frac = 0.001).compute()

        CRSElapsedTime TailNum
21515            100.0     NaN
30914            104.0     NaN
190775           357.0     NaN
2838              68.0     NaN
86829            185.0     NaN
...                ...     ...
48927            179.0  N64347
213214           119.0  N526US
55693            185.0  N673DL
152330            75.0  N26215
176262           111.0  N416EA

[2613 rows x 2 columns]

## Task 7

In [16]:
# look at a column
ddf['TailNum'].compute()

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
           ...
269176    N516UA
269177    N504UA
269178    N592UA
269179    N575UA
269180    N539UA
Name: TailNum, Length: 2611892, dtype: object

In [17]:
# indexing
ddf.loc[ddf['ArrTime'] < ddf['ArrTime'].mean()].compute()

,Date,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,Diverted
88,1990-01-01,1,1205.0,1110,1343.0,1243,US,49,NaN,98.0,...,NaN,60.0,55.0,LGA,CLE,418.0,NaN,NaN,0,0
89,1990-01-02,2,1158.0,1110,1327.0,1243,US,49,NaN,89.0,...,NaN,44.0,48.0,LGA,CLE,418.0,NaN,NaN,0,0
90,1990-01-03,3,1202.0,1110,1324.0,1243,US,49,NaN,82.0,...,NaN,41.0,52.0,LGA,CLE,418.0,NaN,NaN,0,0
91,1990-01-06,6,1126.0,1110,1322.0,1243,US,49,NaN,116.0,...,NaN,39.0,16.0,LGA,CLE,418.0,NaN,NaN,0,0
92,1990-01-07,7,1114.0,1110,1236.0,1243,US,49,NaN,82.0,...,NaN,-7.0,4.0,LGA,CLE,418.0,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269146,1999-12-27,1,1102.0,1100,1305.0,1311,UA,1685,N515UA,243.0,...,208.0,-6.0,2.0,LGA,DEN,1619.0,10.0,25.0,0,0
269147,1999-12-28,2,1058.0,1100,1305.0,1311,UA,1685,N598UA,247.0,...,221.0,-6.0,-2.0,LGA,DEN,1619.0,6.0,20.0,0,0
269148,1999-12-29,3,1057.0,1100,1308.0,1311,UA,1685,N517UA,251.0,...,218.0,-3.0,-3.0,LGA,DEN,1619.0,5.0,28.0,0,0
269149,1999-12-30,4,1056.0,1100,1312.0,1311,UA,1685,N502UA,256.0,...,227.0,1.0,-4.0,LGA,DEN,1619.0,6.0,23.0,0,0
269150,1999-12-31,5,1101.0,1100,1352.0,1311,UA,1685,N559UA,291.0,...,234.0,41.0,1.0,LGA,DEN,1619.0,7.0,50.0,0,0

In [18]:
# more indexing
ddf.iloc[:, [1,3]].compute()

# ddf.iloc[[1, 3]].compute()

        DayOfWeek  CRSDepTime
0               1        1540
1               2        1540
2               3        1540
3               4        1540
4               5        1540
...           ...         ...
269176          1        1645
269177          2        1645
269178          3        1645
269179          4        1645
269180          5        1645

[2611892 rows x 2 columns]

## Task 8

In [19]:
# convert to dask from pandas
ddf_partitions = dd.from_pandas(pdf, npartitions = 10)
ddf_partitions.partitions[1]

Dask DataFrame Structure:
                Year  Month DayofMonth DayOfWeek  DepTime CRSDepTime  ArrTime CRSArrTime UniqueCarrier FlightNum TailNum ActualElapsedTime CRSElapsedTime  AirTime ArrDelay DepDelay  Origin    Dest Distance   TaxiIn  TaxiOut Cancelled Diverted
npartitions=1
26119          int64  int64      int64     int64  float64      int64  float64      int64        object     int64  object           float64        float64  float64  float64  float64  object  object  float64  float64  float64     int64    int64
52238            ...    ...        ...       ...      ...        ...      ...        ...           ...       ...     ...               ...            ...      ...      ...      ...     ...     ...      ...      ...      ...       ...      ...
Dask Name: blocks, 11 tasks

## Task 9

### Task 9a

In [32]:
# return counts of non-missing values in each column
ddf.count(axis = 0).compute()

Date                 2611892
DayOfWeek            2611892
DepTime              2540961
CRSDepTime           2611892
ArrTime              2533682
CRSArrTime           2611892
UniqueCarrier        2611892
FlightNum            2611892
TailNum              1298886
ActualElapsedTime    2533682
CRSElapsedTime       2609927
AirTime              1255069
ArrDelay             2533682
DepDelay             2540961
Origin               2611892
Dest                 2611892
Distance             2610397
TaxiIn               1298886
TaxiOut              1298886
Cancelled            2611892
Diverted             2611892
dtype: int64

### Task 9b

In [30]:
# return counts of values in Cancelled column
ddf['Cancelled'].value_counts().compute()

0    2540961
1      70931
Name: Cancelled, dtype: int64

### Task 9c

In [31]:
# calculate max value of DepDelay
ddf['DepDelay'].max().compute()

1435.0

### Task 9d

In [36]:
# find rows where Cancelled = 1 (presumably this means cancelled)
ddf.loc[ddf['Cancelled'] == 1].compute()

,Date,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,Diverted
37,1990-01-08,1,NaN,2050,NaN,2203,US,38,NaN,NaN,...,NaN,NaN,NaN,LGA,ORF,296.0,NaN,NaN,1,0
55,1990-01-29,1,NaN,2050,NaN,2203,US,38,NaN,NaN,...,NaN,NaN,NaN,LGA,ORF,296.0,NaN,NaN,1,0
61,1990-01-04,4,NaN,1850,NaN,1948,US,42,NaN,NaN,...,NaN,NaN,NaN,EWR,SYR,194.0,NaN,NaN,1,0
207,1990-01-01,1,NaN,645,NaN,850,US,93,NaN,NaN,...,NaN,NaN,NaN,LGA,IND,659.0,NaN,NaN,1,0
259,1990-01-25,4,NaN,1755,NaN,1942,US,105,NaN,NaN,...,NaN,NaN,NaN,JFK,PIT,340.0,NaN,NaN,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268926,1999-12-20,1,NaN,1846,NaN,2103,UA,1609,UNKNOW,NaN,...,NaN,NaN,NaN,EWR,DEN,1605.0,0.0,0.0,1,0
269031,1999-12-16,4,NaN,615,NaN,829,UA,401,UNKNOW,NaN,...,NaN,NaN,NaN,LGA,DEN,1619.0,0.0,0.0,1,0
269093,1999-12-14,2,NaN,1650,NaN,1906,UA,785,UNKNOW,NaN,...,NaN,NaN,NaN,LGA,DEN,1619.0,0.0,0.0,1,0
269153,1999-12-17,5,NaN,1400,NaN,1613,UA,1691,UNKNOW,NaN,...,NaN,NaN,NaN,LGA,DEN,1619.0,0.0,0.0,1,0
269154,1999-12-20,1,NaN,1400,NaN,1613,UA,1691,UNKNOW,NaN,...,NaN,NaN,NaN,LGA,DEN,1619.0,0.0,0.0,1,0

### Task 9e

In [58]:
# count observations where DayOfWeek = 1
ddf.loc[ddf['DayOfWeek'] == 1, ['DayOfWeek']].count().compute()

# answer is 388011 observations

DayOfWeek    388011
dtype: int64

### Task 9f

In [92]:
# sum of non-cancelled flights by origin
ddf.loc[ddf['Cancelled'] == 0, ['Cancelled', 'Origin']].groupby('Origin').agg('count').compute()

        Cancelled
Origin
EWR       1139451
JFK        427243
LGA        974267

### Task 9f a

In [102]:
# compute ratio of non-cancelled flights to total flights, by origin
ddf_cancelled = ddf.loc[ddf['Cancelled'] == 0, ['Cancelled', 'Origin']].groupby('Origin').agg('count').compute()
ddf_not_cancelled = ddf.loc[ddf['Cancelled'] == 1, ['Cancelled', 'Origin']].groupby('Origin').agg('count').compute()
ddf_total = ddf_cancelled + ddf_not_cancelled
Ratio = ddf_cancelled / ddf_total
print(Ratio)

# it ain't pretty but it DOES work

        Cancelled
Origin
EWR      0.970463
JFK      0.983658
LGA      0.970946

### Task 9 g

In [110]:
# average departure delay per origin airport, by day of week
ddf[['DepDelay','Origin', 'DayOfWeek']].groupby(['Origin','DayOfWeek']).mean().compute()

                   DepDelay
Origin DayOfWeek
EWR    1           9.115922
       2           9.179402
       3          10.606154
       4          12.069740
       5          13.154202
       6           8.053139
       7           9.432185
JFK    1           8.884113
       2           8.841036
       3           9.448858
       4          10.846967
       5          12.339922
       6          11.191893
       7          10.947545
LGA    1           6.580465
       2           6.659778
       3           7.311600
       4           8.620151
       5           9.151866
       6           5.800159
       7           7.589457

### Task 9h

In [138]:
# compute means of all columns where destination = NYC area airport

ddf.loc[(ddf['Dest'] == 'LGA') | (ddf['Dest'] == 'JFK') | (ddf['Dest'] == 'EWR')].groupby('Dest').mean().compute()

,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut,Cancelled,Diverted
Dest,,,,,,,,,,,,,,,,
EWR,3.838710,1216.100000,885.483871,1068.833333,845.612903,559.225806,45.166667,32.233333,27.777778,34.583333,23.766667,19.064516,7.111111,23.666667,0.032258,0.193548
LGA,4.625000,1313.500000,795.000000,1164.833333,821.375000,2310.500000,37.500000,31.125000,8.800000,25.500000,37.000000,14.750000,7.200000,18.400000,0.000000,0.250000
JFK,5.166667,1652.166667,1679.833333,1765.000000,1731.666667,1009.666667,59.500000,30.166667,19.500000,114.166667,84.833333,17.666667,7.000000,18.500000,0.000000,0.000000

### Task 9i

In [142]:
# compute max values of ActualElapsedTime and Distance, by year
ddf[['ActualElapsedTime', 'Distance']].groupby(ddf['Date'].dt.year).max().compute()

      ActualElapsedTime  Distance
Date
1990              595.0    2586.0
1991              632.0    2586.0
1992              703.0    2586.0
1993              675.0    2586.0
1994              647.0    2586.0
1995              581.0    2586.0
1996              620.0    2586.0
1997              587.0    2586.0
1998              743.0    4962.0
1999              795.0    4962.0

## Task 10

In [68]:
# can't do visualizations because working on a Mac :(

## Task 11

In [2]:
# use distributed task scheduler
from dask.distributed import Client

client = Client(n_workers = 4, threads_per_worker = 2, memory_limit = '1GB')
print(client)
client.cluster

<Client: 'tcp://127.0.0.1:50318' processes=4 threads=8, memory=3.73 GiB>

Tab(children=(HTML(value='<div class="jp-RenderedHTMLCommon jp-RenderedHTML jp-mod-trusted jp-OutputArea-outpu…

In [3]:
# import progress bar
from dask.diagnostics import ProgressBar
ProgressBar().register()

In [11]:
# run command with parallel operations
ddf.groupby("Dest")[["ArrDelay"]].min().compute()

      ArrDelay
Dest
ABE      -33.0
ALB      -26.0
ATL     -311.0
BDL      -39.0
BGR      -30.0
...        ...
AUS      -65.0
CRP      -16.0
HNL      -63.0
BHM      -30.0
TUS      -55.0

[99 rows x 1 columns]

##  Task 12

In [12]:
# use a different scheduler
x = ddf.groupby("Dest")["ArrDelay"].min()

x.compute(scheduler = 'threads')

[########################################] | 100% Completed |  4.4s

Dest
ABE    -33.0
ALB    -26.0
ATL   -311.0
BDL    -39.0
BGR    -30.0
       ...
AUS    -65.0
CRP    -16.0
HNL    -63.0
BHM    -30.0
TUS    -55.0
Name: ArrDelay, Length: 99, dtype: float64

In [13]:
with dask.config.set(scheduler = 'processes'):
    print(x.compute())

[########################################] | 100% Completed |  5.2s
Dest
ABE    -33.0
ALB    -26.0
ATL   -311.0
BDL    -39.0
BGR    -30.0
       ...
AUS    -65.0
CRP    -16.0
HNL    -63.0
BHM    -30.0
TUS    -55.0
Name: ArrDelay, Length: 99, dtype: float64

# Section E

## Task 1

In [4]:
# generate random samples of data
from sklearn.datasets import make_classification
X, y = make_classification(n_samples = 10000, n_features = 4, random_state = 0)

print(X[:8])
y[:8]

[[-0.77244139  0.3607576  -2.38110133  0.08757   ]
 [ 1.14946035  0.62254594  0.37302939  0.45965795]
 [-1.90879217 -1.1602627  -0.27364545 -0.82766028]
 [-0.77694695  0.31434299 -2.26231851  0.06339125]
 [-1.17047054  0.02212382 -2.17376797 -0.13421976]
 [ 0.79010037  0.68530624 -0.44740487  0.44692959]
 [ 1.68616989  1.6329131  -1.42072654  1.04050557]
 [-0.93912893 -1.02270838  1.10093827 -0.63714432]]

array([0, 0, 1, 0, 0, 0, 0, 1])

## Task 2

In [5]:
# fit SupportVector classifier
from sklearn.svm import SVC

estimator = SVC(random_state = 0)
estimator.fit(X, y)

print(estimator.support_vectors_[:4])

estimator.score(X, y)

[[-0.77244139  0.3607576  -2.38110133  0.08757   ]
 [ 1.14946035  0.62254594  0.37302939  0.45965795]
 [-0.77694695  0.31434299 -2.26231851  0.06339125]
 [ 0.79010037  0.68530624 -0.44740487  0.44692959]]

0.905

## Task 3

In [9]:
# hyperparameter tuning
estimator = SVC(C = 0.00001, shrinking = False, random_state = 0)
estimator.fit(X, y)
print(estimator.support_vectors_[:4])
estimator.score(X, y)

[[-0.77244139  0.3607576  -2.38110133  0.08757   ]
 [ 1.14946035  0.62254594  0.37302939  0.45965795]
 [-0.77694695  0.31434299 -2.26231851  0.06339125]
 [-1.17047054  0.02212382 -2.17376797 -0.13421976]]

0.5007

## Task 4

In [6]:
# apply grid search on one core
from sklearn.model_selection import GridSearchCV
estimator = SVC(gamma = 'auto', random_state = 0, probability = True)

param_grid = {
    'C': [0.001, 10.0],
    'kernel': ['rbf', 'poly'],
}

grid_search = GridSearchCV(estimator, param_grid, verbose = 2, cv = 2)

# see how long it takes
%time grid_search.fit(X, y)

Fitting 2 folds for each of 4 candidates, totalling 8 fits
[CV] END ................................C=0.001, kernel=rbf; total time=  10.8s
[CV] END ................................C=0.001, kernel=rbf; total time=  10.7s
[CV] END ...............................C=0.001, kernel=poly; total time=   3.7s
[CV] END ...............................C=0.001, kernel=poly; total time=   3.6s
[CV] END .................................C=10.0, kernel=rbf; total time=   2.7s
[CV] END .................................C=10.0, kernel=rbf; total time=   2.6s
[CV] END ................................C=10.0, kernel=poly; total time=   3.3s
[CV] END ................................C=10.0, kernel=poly; total time=   3.0s
CPU times: user 50.8 s, sys: 824 ms, total: 51.6 s
Wall time: 48.9 s

GridSearchCV(cv=2,
             estimator=SVC(gamma='auto', probability=True, random_state=0),
             param_grid={'C': [0.001, 10.0], 'kernel': ['rbf', 'poly']},
             verbose=2)

## Task 5

In [11]:
# compare timing with ScikitLearn parallelism
grid_search_MC = GridSearchCV(estimator, param_grid, verbose = 2, cv = 2, n_jobs = -1)

# see how long it takes
%time grid_search_MC.fit(X, y)

Fitting 2 folds for each of 4 candidates, totalling 8 fits
CPU times: user 9.3 s, sys: 485 ms, total: 9.78 s
Wall time: 26 s

GridSearchCV(cv=2,
             estimator=SVC(gamma='auto', probability=True, random_state=0),
             n_jobs=-1,
             param_grid={'C': [0.001, 10.0], 'kernel': ['rbf', 'poly']},
             verbose=2)

In [12]:
# find optimal hyperparameters
grid_search_MC.best_params_, grid_search_MC.best_score_

({'C': 10.0, 'kernel': 'rbf'}, 0.9086000000000001)

## Task 6

In [7]:
# parallelism with dask
import joblib

param_grid = {
    'C': [0.001, 0.1, 1.0, 2.5, 5.],
  #  'kernel': ['rbf', 'poly', 'linear'],
  #  'shrinking': [True, False],
}

grid_search_Dist = GridSearchCV(estimator, param_grid, verbose = 2, cv = 5, n_jobs = -1)

# see how long it takes
# spoiler alert: a long time

%time
with joblib.parallel_backend('dask'):
    grid_search_Dist.fit(X, y)

CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 5.96 µs
Fitting 5 folds for each of 5 candidates, totalling 25 fits

In [8]:
# view grid search results as data frame
pd.DataFrame(grid_search_Dist.cv_results_).head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,43.286977,2.052094,3.462551,1.215357,0.001,{'C': 0.001},0.8495,0.8210,0.8350,0.8245,0.8320,0.8324,0.009917,5
1,14.274038,1.007546,1.394097,0.040865,0.1,{'C': 0.1},0.9025,0.8850,0.8815,0.8825,0.8865,0.8876,0.007658,4
2,10.819610,0.700286,1.123002,0.066550,1.0,{'C': 1.0},0.9185,0.9065,0.8935,0.8975,0.9110,0.9054,0.009035,3
3,11.104288,1.126981,0.960092,0.259765,2.5,{'C': 2.5},0.9200,0.9120,0.8960,0.9005,0.9155,0.9088,0.009092,2
4,11.395299,0.256452,0.955502,0.219745,5.0,{'C': 5.0},0.9190,0.9155,0.8995,0.9055,0.9180,0.9115,0.007675,1

In [9]:
# find optimal hyperparameters, score
grid_search_Dist.best_params_, grid_search_Dist.best_score_

({'C': 5.0}, 0.9115)

In [10]:
# obtain summary of other performance measures
y_pred = grid_search_Dist.predict(X)

from sklearn.metrics import classification_report
print(classification_report(y, y_pred))

              precision    recall  f1-score   support

           0       0.97      0.86      0.91      4993
           1       0.87      0.97      0.92      5007

    accuracy                           0.91     10000
   macro avg       0.92      0.91      0.91     10000
weighted avg       0.92      0.91      0.91     10000

## Task 7

In [11]:
# close client
client.shutdown()

[CV] END ..............................................C=1.0; total time=  11.3s
[CV] END ..............................................C=1.0; total time=  12.9s
[CV] END ..............................................C=2.5; total time=  13.2s
[CV] END ............................................C=0.001; total time=  47.5s
[CV] END ..............................................C=0.1; total time=  17.2s
[CV] END ..............................................C=5.0; total time=  12.2s
[CV] END ..............................................C=2.5; total time=   9.4s
[CV] END ..............................................C=0.1; total time=  14.8s
[CV] END ..............................................C=0.1; total time=  15.1s
[CV] END ..............................................C=0.1; total time=  16.6s
[CV] END ..............................................C=5.0; total time=  13.0s
[CV] END ..............................................C=5.0; total time=  12.5s
[CV] END ............................................C=0.001; total time=  47.7s
[CV] END ..............................................C=1.0; total time=  11.8s
[CV] END ..............................................C=2.5; total time=  12.2s
[CV] END ..............................................C=2.5; total time=  12.6s
[CV] END ............................................C=0.001; total time=  47.8s
[CV] END ..............................................C=2.5; total time=  13.0s
[CV] END ..............................................C=5.0; total time=  12.5s
[CV] END ..............................................C=5.0; total time=  11.6s
[CV] END ..............................................C=1.0; total time=  11.0s
[CV] END ..............................................C=0.1; total time=  14.7s
[CV] END ..............................................C=1.0; total time=  12.7s
[CV] END ............................................C=0.001; total time=  49.3s
[CV] END ............................................C=0.001; total time=  41.5s

distributed.client - ERROR - Failed to reconnect to scheduler after 30.00 seconds, closing client

## The End